# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyCharm
.idea

# OS X
.DS_Store
*.orig

# Run logs
vhpc_toolkit*.log
